{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <div class="container">
            <h1>Toutes les séries de la table program : </h1>
            {% for program in programs %}
                <div>
                    <h2>{{ loop.index }} / <a href="/wild/{{ program.title|replace({' ': '-'})|lower }}">{{ program.title }}</a> - Catégorie : {{ program.category.name }}</h2>
                    <p>{{ program.summary }}</p>
                </div>
            {% else %}
                Aucune série trouvée.
            {% endfor %}
            <a href="{{ path('app_index') }}">
                Retour à l'accueil
            </a>
        </div>
    </div>
{% endblock %}