{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <div class="container">
            <h1>Voici les épisodes de {{ programName }} saison {{ seasonNumber }} : </h1>
            {% for episode in episodes %}
                <div>
                    <h2>{{ episode.number }} / {{ episode.title }}</h2>
                    <p>{{ episode.synopsis }}</p>
                </div>
            {% else %}
                Aucun épisode trouvé.
            {% endfor %}
            <a href="{{ path('app_index') }}">
                Retour à l'accueil
            </a>
        </div>
    </div>
{% endblock %}